// =============================================================================
// - Appbar elements
// =============================================================================
.appbar {
	@include size(100%, auto);
	padding: 6px 16px;
	background: $ultraDarkGray;
	overflow: hidden;
	// position
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	// flex
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;

	// =============================================================================
	// - Responsive
	// =============================================================================
	@media #{$breakpoint-tablet-port} {}
	@media #{$breakpoint-tablet-land} {
		justify-content: center;

		.btn_lines {
			display: none;
		}
	}
}

// =============================================================================
// - Components for big screens.
// =============================================================================
menu {
	@include size(75%, auto);
	background-color: $ultraDarkGray;
	overflow: hidden;
	padding: 16px;

	@include transition(200ms);
	@include opacity(0);
	// position
	position: fixed;
	top: 58px;
	right: 0;
	z-index: -1;

	&.visible {
		z-index: 10;
		@include opacity(1);
	}

	li {
		font-family: $gothamMedium;
		@include font-size(18px);
		@include line-height(44px);

		&:after {
			content: '';
			display: block;
			@include size(40px, 13px);
			background-color: $lightOrange;
		}
	}

	a {
		color: $white;
		text-decoration: none;
		text-shadow: 0 0 10px $black-70;
	}

	@media #{$breakpoint-smartphone-big} {
		li {
			@include font-size(22px);
			@include line-height(48px);
		}
	}
}

