// =============================================================================
// -- Buttons
// =============================================================================
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  color: $white;
  @include border-radius(0px);
  border: 1px solid transparent;
  background: transparent;
  @include size(auto, 50px);
  cursor: pointer;
  // text
  text-decoration: none;
  @include font-size(19px);
  @include line-height(46px);
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 20px;

  //
  &_primary {
    @include size(100%, 44px);
    background-color: $lightBlue;
    border: 1px solid $lightBlue;
    // texts
    font-family: $montserratBold;
    @include font-size(24px);
    @include line-height(44px);
  }

}

// =============================================================================
// -- Hamburguer Button
// =============================================================================
.btn_lines {
  background: transparent;
  border: none;
  height: 26px;
  padding: 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/7;
  /* */
  &:hover {
    opacity: 1;
  }
  &:active {
    transition: 0;
  }
  &.close {
    -webkit-transform: scale3d(.8,.8,.8);
        transform: scale3d(.8,.8,.8);
  }

  //three-lines to x
  &.x.close {
    .lines {
      background: transparent;
      &:before, &:after{
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        top:0;
        width: $button-size;
      }
      &:before{
        -webkit-transform: rotate3d(0,0,1,45deg);
                transform: rotate3d(0,0,1,45deg);
      }
      &:after{
        -webkit-transform: rotate3d(0,0,1,-45deg);
                transform: rotate3d(0,0,1,-45deg);
      }
    }
  }
}

//common to all three-liners
.lines {
  @include line;
  position: relative;

  &:before, &:after {
   @include line;
    position: absolute;
    left:0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
            transform-origin: $button-size/14 center;
  }
  &:before {
    top: $button-size/4;
  }
  &:after {
    top: -$button-size/4;
  }
}