// =============================================================================
// ICONS
// =============================================================================
.ic {
	display: inline-block;

	&_logo_cb {
		background: url(../images/ic_logo_cb.svg) center center no-repeat;
		background-size: cover;
		@include size(288px, 154px);

		&.small {
			@include size(153px, 83px);
		}
	}

	// FOOTER
	&_logo_cb_footer {
		background: url(../images/ic_logo_cb.svg) center center no-repeat;
		background-size: cover;
		@include size(95px, 51px);
		//@include size(127px, 69px);
		//@include size(151px, 81px);
	}

	&_logo_arq_campos {
		background: url(../images/face-boulevard/ic_arq_campos.png) center center no-repeat;
		background-size: cover;
		@include size(51px, 58px);
		//@include size(60px, 69px);
		//@include size(79px, 90px);
	}

	&_logo_const_y_proyectos {
		background: url(../images/face-boulevard/ic_const_y_proyectos.svg) center center no-repeat;
		background-size: cover;
		@include size(74px, 58px);
		//@include size(87px, 69px);
		//@include size(114px, 89px);
	}

	&_face_boulevard {
		background: url(../images/face-boulevard/ic_face_logotipo.svg) center center no-repeat;
		background-size: cover;
		@include size(142px, 46px);
	}

	&_face_isotipo {
		background: url(../images/face-boulevard/ic_face_isotipo.svg) center center no-repeat;
		background-size: cover;
		@include size(80px, 73px);
	}

	&_webcam {
		background: url(../images/face-boulevard/ic_webcam.svg) center center no-repeat;
		background-size: cover;
		@include size(64px, 65px);
	}

	&_close {
		background: url(../images/ic_close.svg) center center no-repeat;
		background-size: cover;
		@include size(32px, 32px);
		//@include size(44px, 44px);
	}

	@media #{$breakpoint-smartphone-big} {
		&_logo_cb {
			@include size(388px, 209px);
		}
		&_webcam {
			@include size(85px, 85px);
		}
	}

	@media #{$breakpoint-smartphone-big-landscape} {
		&_logo_cb_footer {
			@include size(151px, 81px);
		}

		&_logo_arq_campos {
			@include size(79px, 90px);
		}

		&_logo_const_y_proyectos {
			@include size(114px, 89px);
		}

		&_face_boulevard {
			@include size(185px, 61px);
		}
	}
}
