// =============================================================================
// ICONS
// =============================================================================
.ic {
	display: inline-block;

	&_logo_cb {
		background: url(../images/ic_logo_cb.svg) center center no-repeat;
		background-size: cover;
		@include size(288px, 154px);

		&.small {
			@include size(153px, 83px);
		}
	}

	&_face_boulevard {
		background: url(../images/face-boulevard/ic_face_logotipo.svg) center center no-repeat;
		background-size: cover;
		@include size(142px, 46px);
	}

	&_face_isotipo {
		background: url(../images/face-boulevard/ic_face_isotipo.svg) center center no-repeat;
		background-size: cover;
		@include size(80px, 73px);
	}

	&_webcam {
		background: url(../images/face-boulevard/ic_webcam.svg) center center no-repeat;
		background-size: cover;
		@include size(64px, 65px);
	}

	@media #{$breakpoint-smartphone-big} {
		&_logo_cb {
			@include size(388px, 209px);
		}
		&_webcam {
			@include size(84px, 85px);
		}
	}
}
