// =============================================================================
// Variables
// =============================================================================
$button-size: 2.5rem;
$button-size-mobile: 2.5rem;
$button-transition: .3s;

$secure-area: 1032px;
// =============================================================================
// -- FONTS
// =============================================================================
$gothamMedium: 'gothammedium';
$gothamBook: 'gotham_bookregular';
// $montserratSemiBold: 'montserratsemibold';
// $montserratBold: 'montserratbold';
// =============================================================================
// -- COLORES
// =============================================================================
$white: #FFFFFF;
$white-40: rgba(255,255,255,.4);
$white-60: rgba(255,255,255,.6);

$black: #000000;
$black-2: #080808;
$black-30: rgba(0,0,0,.3);
$black-40: rgba(0,0,0,.4);
$black-50: rgba(0,0,0,.5);
$black-70: rgba(0,0,0,.7);
$black-90: rgba(0,0,0,.97);

// theme
$orange: #e2761f;
$lightOrange: #f2b83f;
$green: #2ebd59;
$darkGreen: #008761;

$red: #ff4734;
$yellow: #ffb403;

$teal: #dad4c5;

$blue: #3582e7;
$lightBlue: #80d1e1;

$gray: #a6a6a6;
$lightGray: rgba(186, 186, 186, 0.76);
$darkGray: #606060;
$ultraDarkGray: #2f2d2c;

$twitter: #55acee;
$facebook: #4267b2;
$whatsapp: #189D0E;

// =============================================================================
// -- BREAKPOINTS
// =============================================================================
$breakpoint-small: 'only screen and (max-width: 20em)';
$breakpoint-medium: 'only screen and (min-width: 49em)';
//desktop
$breakpoint-desktop-big: '(min-width: 106.250em)';
$breakpoint-desktop-medium: '(min-width: 92em)';
// laptop
$breakpoint-laptop-big: '(min-width: 90em)';
$breakpoint-laptop-pc: '(min-width: 85em)';
$breakpoint-laptop-small: '(min-width: 70.000em)';
// tablet
$breakpoint-tablet-land:'(min-width: 63.938em)';
$breakpoint-tablet-port:'(min-width: 47em)';
// smartphone landscape
$breakpoint-smartphone-big-landscape: 'only screen and (min-width: 40em)';
$breakpoint-smartphone-medium-landscape: 'only screen and (min-device-width: 41.688em)';
$breakpoint-smartphone-small-landscape: 'only screen and (max-device-width: 35.500em)';
// smartphone portrait
$breakpoint-smartphone-big: '(min-width: 25.000em)';
$breakpoint-smartphone-medium: '(min-width: 23.375em)';
$breakpoint-smartphone-small: '(max-width: 20.000em)';


