// =============================================================================
// -- Footer
// =============================================================================
footer {
	@include size(100%, auto);
	background-color: $black;
	overflow: hidden;
	padding: 24px;
	text-align: center;
}