// =============================================================================
// -- Footer
// =============================================================================
footer {
	@include size(100%, auto);
	background-color: $ultraDarkGray;
	overflow: hidden;
	padding: 20px 16px;
	text-align: center;

	.container {
		@include size(100%, auto);
		margin: 0 auto;
		// flex
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	.ic_face_boulevard {
		margin: auto;
	}

	.logo_container {
		@include size(100%, auto);
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;
		margin: 20px auto 0;
		padding: 15px 0;
		// flex
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;

		&_item {
			@include size(33.33%, auto);
			margin: 0px auto 16px;
			// flex
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}

		span {
			@include size(100%, auto);
			color: $white;
			font-family: $gothamBook;
			@include font-size(12px);
			@include line-height(14px);
			margin: auto auto 16px;
		}

		.ic {
			margin: auto;
		}
	}

	.phone_container {
		@include size(100%, auto);
		border-bottom: 1px solid $white;
		padding: 15px 0;
		margin: 0 auto 20px;
		text-align: center;

		p {
			font-family: $gothamBook;
			@include font-size(16px);
			@include line-height(26px);
			color: $white;
		}
	}

	ul {
		@include size(100%, auto);
		margin: 0 auto 20px;
	}

	li {
		font-family: $gothamBook;
		@include font-size(16px);
		@include line-height(26px);
		color: $white;

		span {
			&.divider {
				color: $lightOrange;
				margin: 0 8px;
			}
		}
	}

	a {
		text-decoration: none;
		color: $white;
	}

	@media #{$breakpoint-smartphone-big-landscape} {
		.container {
			max-width: 580px;
		}
	}
}