// =============================================================================
// -- Sections
// =============================================================================
section {
	@include size(100%, auto);
	overflow: hidden;

	.indicator {
		@include size(100%, auto);
		max-width: 260px;
		background-color: $lightOrange;
		margin: 0 auto;
		// text
		font-family: $gothamMedium;
		color: $white;
		@include font-size(18px);
		@include line-height(38px);
		text-align: center;

		@media #{$breakpoint-tablet-land} {
			@include font-size(25px);
			@include line-height(38px);
			max-width: 380px;
		}

		@media #{$breakpoint-laptop-big} {
			@include font-size(30px);
			@include line-height(48px);
			max-width: 430px;
		}
	}

	// =============================================================================
	// -- Face Boulevard
	// =============================================================================
	&#face-boulevard {
		img, picture {
			@include size(100%, auto);
			display: block;
		}
	}

	// =============================================================================
	// -- Video
	// =============================================================================
	&#video {
		article {
			position: relative;
		    padding-bottom: 56.25%;
		    height: 0;
		    overflow: hidden;
		}
		iframe {
			position: absolute;
		    top:0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}

	// =============================================================================
	// -- Departementos
	// =============================================================================
	&#departamentos {
		background: url(../images/face-boulevard/m_bg_departamentos.jpg) center center no-repeat;
		background-size: cover;
		min-height: 460px;
		padding: 0 16px;
		position: relative;

		@media #{$breakpoint-tablet-port} {
			background: url(../images/face-boulevard/bg_departamentos.jpg) center center no-repeat;
			background-size: cover;
		}

		@media #{$breakpoint-tablet-land} {
			min-height: 600px;
		}
		@media #{$breakpoint-laptop-small} {
			background-attachment: fixed;
		}
		@media #{$breakpoint-laptop-big} {
			min-height: 760px;
		}
	}

	// =============================================================================
	// -- Amenities
	// =============================================================================
	&#amenities {
		background: url(../images/face-boulevard/m_bg_amenities.jpg) center center no-repeat;
		background-size: cover;
		min-height: 460px;
		padding: 0 16px;
		position: relative;

		article {
			@include size(100%, 100%);
			min-height: 460px;
			// flex
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}

		ul {
			@include size(100%, auto);
			margin: auto;
			text-align: center;

			li {
				font-family: $gothamMedium;
				@include font-size(28px);
				@include line-height(38px);
				text-shadow: 0 0 10px $black-70;
				color: $white;
			}
		}

		#btn_ver_plano {
			max-width: 246px;
			margin: auto;
		}

		p {
			@include font-size(13px);
			@include line-height(18px);
			text-shadow: 0 0 10px $black-70;
			color: $white;
			margin: auto;
		}

		@media #{$breakpoint-smartphone-medium} {
			p {
				@include font-size(16px);
			}
		}
		@media #{$breakpoint-smartphone-big} {
			p {
				@include font-size(18px);
				@include line-height(20px);
			}
		}
		@media #{$breakpoint-tablet-port} {
			background: url(../images/face-boulevard/bg_amenities.jpg) center center no-repeat;
			background-size: cover;
		}
		@media #{$breakpoint-tablet-land} {
			min-height: 600px;

			article {
				min-height: 600px;
			}

			ul {
				text-align: right;
				margin: auto auto 40px;

				li {
					@include font-size(34px);
					@include line-height(48px);
				}
			}

			#btn_ver_plano {
				margin: 20px auto 30px;
			}

			p {
				margin: 0px auto 40px;
			}
		}
		@media #{$breakpoint-laptop-small} {
			background-attachment: fixed;
		}
		@media #{$breakpoint-laptop-big} {
			min-height: 760px;

			article {
				min-height: 760px;
			}
		}
	}

	// =============================================================================
	// -- Avance de Obra
	// =============================================================================
	&#avance_de_obra {
		background: url(../images/face-boulevard/m_bg_avance.jpg) center center no-repeat;
		background-size: cover;
		min-height: 460px;
		padding: 0 16px;

		article {
			@include size(100%, 100%);
			min-height: 460px;
			// flex
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}

		.container {
			margin: auto;
			text-align: center;
		}

		h2 {
			font-family: $gothamMedium;
			@include font-size(20px);
			@include line-height(24px);
			text-shadow: 0 0 10px $black-70;
			color: $white;
			margin-bottom: 30px;
		}

		a {
			margin: 30px auto 0;
			text-align: center;
			text-decoration: none;

			.ic {
				margin: 0 auto 15px;
			}

			span {
				font-family: $gothamMedium;
				@include font-size(20px);
				@include line-height(24px);
				text-decoration: none;
				color: $lightOrange;
				display: block;
			}
		}
		@media #{$breakpoint-tablet-port} {
			background: url(../images/face-boulevard/bg_avance.jpg) center center no-repeat;
			background-size: cover;
		}
		@media #{$breakpoint-tablet-land} {
			min-height: 600px;

			article {
				min-height: 600px;
			}

			h2 {
				@include font-size(40px);
				@include line-height(54px);
			}
		}
		@media #{$breakpoint-laptop-small} {
			background-attachment: fixed;
		}
		@media #{$breakpoint-laptop-big} {
			min-height: 760px;

			article {
				min-height: 760px;
			}
		}
	}

	// =============================================================================
	// -- Avance de Obra
	// =============================================================================
	&#ubicacion {
		background: url(../images/face-boulevard/m_bg_ubicacion.jpg) center center no-repeat;
		background-size: cover;
		min-height: 460px;
		position: relative;

		article {
			@include size(100%, 100%);
			min-height: 460px;
			padding: 0 16px;
			position: relative;
		}

		.indicator {
	    	position: absolute;
		    z-index: 3;
		    top: 0;
		    right: 0;
		    left: 0;
		}

		h2 {
			font-family: $gothamMedium;
			@include font-size(20px);
			@include line-height(24px);
			text-shadow: 0 0 10px $black-70;
			text-align: center;
			color: $white;
			// position
			position: absolute;
		    top: 30%;
		    right: 16px;
		    left: 16px;

		    span {
		    	@include font-size(18px);
				display: block;
			}
		}

		#btn_ver_mapa {
			max-width: 246px;
			display: block;
			margin: 0 auto;
			// position
			position: absolute;
			z-index: 3;
		    top: auto;
		    right: 0px;
		    bottom: 20%;
		    left: 0px;
		}

		.content_mapa {
			@include size(100%, 100%);
			min-height: 460px;
			display: none;
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			iframe {
				@include size(100%, auto);
				min-height: 460px;
				display: block;
			}
		}
		@media #{$breakpoint-tablet-port} {
			background: url(../images/face-boulevard/bg_ubicacion.jpg) center center no-repeat;
			background-size: cover;
		}
		@media #{$breakpoint-tablet-land} {
			min-height: 600px;

			article {
				min-height: 600px;
			}

			h2 {
				@include font-size(40px);
				@include line-height(54px);

				span {
					@include font-size(30px);
				}
			}

			#btn_ver_mapa {
				top: 55%;
				bottom: auto;
			}

			.content_mapa {
				min-height: 600px;
				iframe {
					min-height: 600px;
				}
			}
		}
		@media #{$breakpoint-laptop-small} {
			background-attachment: fixed;
		}
		@media #{$breakpoint-laptop-big} {
			min-height: 760px;
			article {
				min-height: 760px;
			}
			.content_mapa {
				min-height: 760px;
				iframe {
					min-height: 760px;
				}
			}
		}
	}
}

.section_separator {
	background: $teal url(../images/bg-divider.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 16px;

	.ic {
		margin-bottom: 15px;
	}

	h2 {
		font-family: $gothamBook;
		@include font-size(14px);
		@include line-height(18px);

		em {
			font-family: $gothamMedium;
		}
	}

	@media #{$breakpoint-smartphone-big} {
		h2 {
			@include font-size(19px);
			@include line-height(23px);
		}
	}

	@media #{$breakpoint-tablet-land} {
		padding: 24px;
	}

	@media #{$breakpoint-desktop-medium} {
		h2 {
			@include font-size(28px);
			@include line-height(36px);
		}
	}
}

// =============================================================================
// -- Departementos
// =============================================================================
.departamentos_selector {
	@include size(100%, 100%);
	overflow: hidden;
	margin-top: 60px;
	// flex
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	li {
		@include size(100%, auto);
		margin: auto auto 21px;
	}

	.btn {
		@include size(100%, 48px);
	}

	@media #{$breakpoint-smartphone-big-landscape} {
		max-width: 400px;
    	margin: 60px auto;
	}

	@media #{$breakpoint-tablet-land} {
		margin: 15% auto auto;
		max-width: 830px;

		li {
			@include size(calc(50% - 26px), auto);
		}
	}

}











